*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: #201D47;
}
.main-container{
    width:1,316.89px;
    height:42px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px;
}
nav ul li a.active{
    color:rgb(0, 0, 0);
    font-size: 14px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 16px;
}
nav ul li a{
    display: flex;
    position:relative;
    color: white;
    text-decoration: none;
}
.Logo{
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 28px;
}
.Search-icon-bg-right{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 380px;
    size-adjust:24px;
}
.Notification-bg-right{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 255px;
    size-adjust:24px;
}
.collection-bg-right{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 289px;
    size-adjust:24px;
}
.Second-items{
    display: flex;
    position: relative;
}
.Second-items nav{
    display: flex;
    position:absolute;
    right: 5px;
}
.Second-items Button{
    display: flex;
    width:1000px;
    height: 33px;
    border-radius:10px;
    background-color: #201D47;
    box-shadow: #201D47;
}
.third-item{
    display: flex;
    position: absolute;
    left:0;
}
.third-item nav{
    display: flex;
    position:relative;
}
.third-item nav ul li{
    display:flex ;
    position: absolute;
}
.Dashbord{
    display: flex;
    position: relative;
    margin-top: 60px;
    width: 239px;
    height: 857px;
    border-radius: 12px;
}
.User-info{
    display: flex;
    position:absolute;
    top:24.6px;
    left:30px;
}
.User-icon{
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
}
.Account-info{
    display: flex;
    position: absolute;
    top:55.7px;
    left: 30px;
}
.Account-icon{
    display: flex;
    position: absolute;
    top: 62.9px;
    left: 10px;
}
.Profile-info{
    display:flex;
    position:absolute;
    top:95px;
    left:30px;
}
.Profile-icon{
    display: flex;
    position: absolute;
    top:105px;
    left: 10px;
}
.Authentucations-info{
    display:flex;
    position:absolute;
    top:130px;
    left:30px;
}
.Authentications-icon{
    display: flex;
    position:absolute;
    top:139px;
    left:10px;
}
.Blog-info{
    display: flex;
    position: absolute;
    top: 165px;;
    left: 30px;
}
.Blog-icon{
    display: flex;
    position: absolute;
    top: 176px;
    left:10px
}
.Social-info{
    display: flex;
    position:absolute;
    top: 220px;
    left:30px
}
.Social-icon{
    display: flex;
    position: absolute;
    top: 217px;
    left: 10px;
}
.FAQs-info{
    display: flex;
    position: absolute;
    left: 30px;
    top: 259px;
}
.FAQs-icon{
    display: flex;
    position: absolute;
    left: 10px;
    top: 259px;
}
.Application-info{
    display: flex;
    position: absolute;
    left: 19px;
    top: 305px;
    font-size: 14px;
}
.E-commerce-info{
    display: flex;
    position: absolute;
    left: 30px;
    top: 346px;
}
.E-commmerce-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top:340px;
}
.Contact-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 393px;
}
.Contact-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 387px;
}
.E-mail-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 432px;
}
.E-mail-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 426px;
}
.Chat-info{
    display: flex;
    position:absolute;
    left: 30px;
    top:475px;
}
.Chat-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 469px;
}
.To-do-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 519px;
}
.To-do-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 516px;
}
.Calender-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 564px;
}
.Calender-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 566px;
}
.Session-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 610px;
}
.Seesion-icon{
    display: flex;
    position:absolute;
    left: 10px;
    top: 606px;
}
/*---------------------------------------------*/
.First-square{
    display: flex;
    position: absolute;
    top:0;
}
nav button{
    display: flex;
    position:absolute;
    right: 0;
    width: 313px;
    height: 374px;
    border-radius: 10px;
}
.first-shape{
    display: flex;
    position:absolute;  
    left: 0;
    margin-left:337.65px;
    top:0;
    margin-top:210px;
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.First-square nav ul li a{
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.System-info{
    display: flex;
    position:absolute;
    font-size: 16px;
    top:15px;
}
.Board-info{
    display: flex;
    position:absolute;
    left: 30px;
    top:45px
}
.Mac-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 80px;
}
.Fireware-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 116px;
}
.System-Data-info{
    display: flex;
    position:absolute;
    left: 30px;
    top: 152px;
}
/*------------------------------------------------*/
.Second-square{
    display: flex;
    position: absolute;
    top:0;
}
.Second-shape{
    display: flex;
    position:absolute;
    right: 0;
    width: 313px;
    height: 374px;
    border-radius: 10px;
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.Second-square nav ul li a{
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.Second-square button{
    display: flex;
    position: absolute;
    left:0;
    margin-left: 900px;
    top:0;
    margin-top:210px;
    background-color: rgb(19, 21, 133)
}
.IPV6-info{
    display: flex;
    position:absolute;
    font-size: 16px;
    top:15px;
}
.Offical-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top:45px
}
.Board-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 80px;
}
.Profile-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 116px;
}
.Channel-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 152px;
}
/*------------------------------------------------*/
.Third-square{
    display: flex;
    position:absolute;
    top: 0;
}
.Third-shape{
    display: flex;
    position:absolute;
    right: 0;
    width: 313px;
    height: 374px;
    border-radius: 10px;
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.Third-square button{
    display: flex;
    position: absolute;
    left:0;
    margin-left:626.65px;
    top:0;
    margin-top:610px;
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.Third-square nav ul li a{
    background-image:linear-gradient(to bottom,rgb(61, 192, 224),#201D47);
}
.HTTP-KIT{
    display: flex;
    position:absolute;
    font-size: 16px;
    top:15px
}
.Offical-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top:45px
}
.Board-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 80px;
}
.Profile-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 116px;
}
.Channel-kit{
    display: flex;
    position:absolute;
    left: 30px;
    top: 152px;
}